server:
  port: 8080

spring:
  profiles:
    active: dev
  application:
    name: nerv

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
      base-path: /
  metrics:
    tags:
      application: nerv-api