server:
  port: 8080

spring:
  application:
    name: nerv
    #  datasource:
    #    url: ${POSTGRESQL_URL}
    #    username: ${POSTGRESQL_USERNAME}
    #    password: ${POSTGRESQL_PASSWORD}
    #    driver-class-name: org.postgresql.Driver
    datasource:
      url: jdbc:h2:mem:testdb
      username: sa
      password:
      driver-class-name: org.h2.Driver
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
      hibernate:
        ddl-auto: update
    h2:
      console:
        enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
      base-path: /
  metrics:
    tags:
      application: nerv-api

openbao:
  api-url: http://192.168.0.30:8200
  api-key: root-token
  secret-engine:
    type: kv
    mount-path: secrets