---
server:
  port: 8080

spring:
  application:
    name: nerv

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
      base-path: /
  metrics:
    tags:
      application: nerv
