---
server:
  port: 8080

spring:
  application:
    name: ${artifactId}

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  metrics:
    tags:
      application: ${artifactId}
